<!-- views/donations-index -->
<h1>Donations</h1>

<a href="/donations/new">New Donation</a>

<div class="row">
    {{#each donations}}
        <div class="col-sm-3">
            <h2><a href="/donations/{{this._id}}">{{this.donation}}</a></h2>
            <small>{{this.dateGiven}}</small>
            <small>{{this.charity}}</small>
        </div>
    {{else}}
            <p class="empty">No donations</p>
    {{/each}}

</div
