<!-- views/donations-index -->
<h1>Donations</h1>

<a href="/donations/new">New Donation</a>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Donation</th>
            <th scope="col">Created At:</th>
            <th scope="col">Charity</th>
        </tr>
    </thead>
    <tbody>
        {{#each donations}}
        <tr>
            <th scope="row">{{@index}}</th>
            <td><a href="/donations/{{this._id}}">{{this.donation}}</a></td>
            <td>{{this.createdAt}}</td>
            <td>{{this.charity}}</td>
        </tr>
        {{else}}
                <p class="empty">No donations</p>
        {{/each}}
    </tbody>
</table>
