<!--views/donations-show.handlebars-->

<a href="/donations">Back to Home</a>
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <h1>{{donation.donation}}</h1>
        <h2>{{donation.dateGiven}}</h2>
        <p>{{donation.charity}}<p>
        <p><a href="/donations/{{donation._id}}/edit">Edit</a></p>
        <!-- Delete button -->
        <p><form method="POST" action="/donations/{{donation._id}}?_method=DELETE">
            <button class="btn btn-primary" type="submit">Delete</button>
        </form></p>
    </div>
</div>
